<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="<%= description %>">
    <meta name="keywords" content="<%= keywords %>">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title><%= pageTitle %> | <%= siteName %></title>
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:site_name" content="">
    <meta property="og:image" content="">
    <meta property="og:url" content="">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <header class="topHeader">
      <div class="topHeader-hero">
        <p><img src="img/header_logo.png" alt="ATHLETA"></p>
        <h1><img src="img/header_img_03.png" alt="EASY ORDER SYSTEM"></h1>
      </div>
      <div class="topHeader-tab l-inner">
        <p><img src="img/header_img_02.png" alt="世界に1つだけ!オリジナルウェアを作りませんか?"></p>
        <ul class="mainTab">
          <li><a href="<%= homeURL %>"><span>GAMEWEAR</span>ゲームウェア</a></li>
          <li><a href="<%= homeURL %>"><span>JERSEY</span>ジャージ</a></li>
          <li><a href="<%= homeURL %>"><span>PISTE</span>ピステ</a></li>
          <li><a href="<%= homeURL %>"><span>WIND BREAKER</span>ウインドブレーカー</a></li>
          <li><a href="<%= homeURL %>"><span>WARMER</span>ウォーマー</a></li>
        </ul>
      </div>
    </header>
